* {
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

.indexbackground {
    background-color: rgb(91, 91, 181);
}
.test {
    text-align: center;
}

img {
    border-radius: 50%;
    width:30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.smoothie-name {
    color: whitesmoke;
    text-align: center;
    list-style: none;
    padding-top: 2%;
    padding-bottom: 2%;
}

h1 {
    font-size:xx-large;
}

h2,
h3,
h4 {
   font-size: large; 
   padding-left: 5%;
}

.descrip {
    padding-left: 5%;
}

.ingred {
    list-style: none;
}

.steps {
    list-style: none;
}

.fountain {
    background-color: lightblue;
    font-size: small;
}

.cheeky {
    background-color:pink;
    font-size: small;
}

.nature {
    background-color:rgb(220, 188, 127);
    font-size: small;
}